DATABASE_URL="postgres://admin:strong_password_here@localhost:5432/project_db_name?schema=public"

POSTGRES_USER=admin
POSTGRES_PASSWORD=strong_password_here
POSTGRES_DB=project_db_name
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=strong_password_here
